<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <meta name="viewport" content="width=device-width, height=device-height" />
        <title>#CreatingHealth Survey: Question 6</title>
        <link href="css/style.css" rel="stylesheet" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="js/survey.js"></script>
    </head>

    <body>

    	<form class="question-container matrix" action="survey_q7.html.erb">
            <h2>
                For each of the issues you identified, who is the most affected?
            </h2>
            <div id="matrix_one">
                <p>Previous Selection 1</p>
                <label class="radio">
                    <input type="radio" value="existingCompanies" name="answer_one"/>
                    Existing Companies
                </label>
                <label class="radio">
                    <input type="radio" value="consultancies" name="answer_one"/>
                    Consultancies
                </label>
                <label class="radio">
                    <input type="radio" value="newStartupsIncubators" name="answer_one"/>
                    New Startups / Incubators
                </label>
                <label class="radio">
                    <input type="radio" value="hackathons" name="answer_one"/>
                    Hackathons
                </label>
            </div>

            <div id="matrix_two" >
                <p>Previous Selection 2</p>
                <label class="radio">
                    <input type="radio" value="existingCompanies" name="answer_one"/>
                    Existing Companies
                </label>
                <label class="radio">
                    <input type="radio" value="consultancies" name="answer_one"/>
                    Consultancies
                </label>
                <label class="radio">
                    <input type="radio" value="newStartupsIncubators" name="answer_one"/>
                    New Startups / Incubators
                </label>
                <label class="radio">
                    <input type="radio" value="hackathons" name="answer_one"/>
                    Hackathons
                </label>
            </div>

            <div id="matrix_three" >
                <p>Previous Selection 3</p>
                <label class="radio">
                    <input type="radio" value="existingCompanies" name="answer_one"/>
                    Existing Companies
                </label>
                <label class="radio">
                    <input type="radio" value="consultancies" name="answer_one"/>
                    Consultancies
                </label>
                <label class="radio">
                    <input type="radio" value="newStartupsIncubators" name="answer_one"/>
                    New Startups / Incubators
                </label>
                <label class="radio">
                    <input type="radio" value="hackathons" name="answer_one"/>
                    Hackathons
                </label>
            </div>

            <input type="button" value="Back" onClick="history.go(-1);return true;" />
            <input type="submit" value="Next" />
		</form>



    </body>
    <script>
    	// Add text input to other checkbox when selected
    	// http://jsfiddle.net/hungerpain/KqRpM/
	</script>

</html>
